.album-desc-wrapper
  width: 100%
  position: relative
  margin: 0 auto
  .album-desc
    width: 100%
    position: relative
    .album-desc-title
      width: 90%
      height: 30px
      line-height: 30px
      font-size: 20px
      vertical-align: center
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    .album-desc-creator
      width: 100%
      margin: 10px 0
      .album-desc-creator-name
        display: inline-block
        vertical-align: top
        margin-right: 18px
        height: 30px
        line-height: 30px
        font-size: 12px
      .album-desc-creator-time
        display: inline-block
        vertical-align: top
        height: 30px
        line-height: 30px
        font-size: 12px
        color: #919191
    .album-desc-desc
      width: 700px
      height: 112px
      overflow: hidden
      text-overflow: ellipsis
      .album-desc-desc-title
        display: inline-block
        margin-right: 10px 
        font-size: 12px
        color: #404040
        vertical-align: top
      .album-desc-desc-content
        display: inline-block
        vertical-align: top
        width: 600px
        height: 100%
        white-space: wrap
        line-height: 14px
        font-size: 12px
        color: #919191
      
        