.singer-info-wrapper
  width: 100%
  height: 100%
  position: relative
  .singer-info-background
    position: absolute
    overflow: hidden
    z-index: -3
    width: 100%
    height: 150px
    left: -20px
    right: -20px
    background-size:100%
    background-repeat: no-repeat
    filter: blur(50px) opacity(0.4)
    opacity: 1
  .singer-info-background2
    position: absolute
    z-index: -1
    width: 100%
    height: 200px
    top: -10px
    left: -20px
    right: -20px
    background:#f5f5f5
    filter: blur(50px)
    opacity: 0.3
  .singer-info
    width: 100%
    .singer-info-top
      margin-top: 20px
      width: 100%
      display: flex
      .singer-info-top-avatar
        flex: 0 0 200px
        display: inline-block
        margin-right: 30px
      .singer-info-top-desc
        display: inline-block
        flex: 1
  .song-list-content-wrapper
    width: 100%
    position: relative
    .song-list-content-wrapper
      position: relative
      overflow: hidden
      white-space: nowrap
      box-sizing: border-box
      padding-top: 15px
      width: 100%
      height: 230px
      .song-list-content
        width: 100%
        position: relative
        