.song-information
  display: flex
  height: 40px
  border-radius: 3px
  .song-information-item
    margin: auto 0
    height: 30px
    line-height: 30px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    &.song-information-index
      flex: 0 0 25px
      font-size: 12px
      text-align: center
    &.song-information-iflove
      flex: 0 0 30px
      font-size: 15px
      text-align: center
    &.song-information-name
      flex: 4
      font-size: 15px
    &.song-information-singer
      flex: 2
      vertical-align: center
      font-size: 13px
      color: #bfbfbf
    &.song-information-album
      flex: 2
      font-size: 13px
      color: #bfbfbf
    &.song-information-duration
      flex: 1
      font-size: 13px
      text-align: center
      color: #bfbfbf
    &.song-information-ifhigh
      felx: 1
      font-size: 13px
      
      