.info-show-wrapper
  width: 100%
  position: relative
  margin: 0 auto
  .info-show
    width: 100%
    position: relative
    .info-show-title
      width: 100%
      height: 30px
      line-height: 30px
      font-size: 20px
      vertical-align: center
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    .info-show-creator
      width: 100%
      margin-top: 8px
      .info-show-creator-avatar
        display: inline-block
        width: 30px
        height: 30px
        border-radius: 15px
      .info-show-creator-name
        display: inline-block
        vertical-align: top
        margin: 0 15px
        height: 30px
        line-height: 30px
        font-size: 12px
      .info-show-creator-time
        display: inline-block
        vertical-align: top
        height: 30px
        line-height: 30px
        font-size: 12px
        color: #919191
    .info-show-funcs
      width: 100%
      margin: 18px 0
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
      .info-show-func
        display: inline-block
        height: 25px
        line-height: 25px
        font-size: 14px
        text-align: center
        box-sizing: border-box
        border: 1px solid #919191
        border-radius: 3px
        padding: 0 3px
        margin: 0 10px 0 0
    .info-show-tags
      width: 100%
      margin-bottom: 15px
      .info-show-tag-title
        display: inline-block
        margin-right: 10px
        height: 16px
        line-height: 16px
        font-size: 13px
        text-align: center
      .info-show-tag-content
        display: inline-block
        margin-right: 5px
        height: 16px
        line-height: 16px
        font-size: 13px
        text-align: center
        color: #008997
        .line
          color: #d9d9d9
    .info-show-desc
      width: 700px
      height: 70px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      .info-show-desc-title
        display: inline-block
        margin-right: 10px 
        font-size: 13px
        color: #404040
      .info-show-desc-content
        display: inline-block
        width: 600px
        height: 14px
        line-height: 14px
        font-size: 12px
        color: #919191
      
        