.playlist-song-information
  display: flex
  height: 40px
  border-radius: 3px
  .playlist-song-information-item
    margin: auto 0
    height: 30px
    line-height: 30px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    &.playlist-song-information-index
      flex: 0 0 25px
      font-size: 12px
      text-align: center
    &.playlist-song-information-name
      flex: 2
      font-size: 15px
    &.playlist-song-information-singer
      flex: 1
      vertical-align: center
      font-size: 13px
      color: #bfbfbf
    &.playlist-song-information-duration
      flex: 1
      font-size: 13px
      text-align: center
      color: #bfbfbf
      
      