.nm-nav
  width: 100%
  .nav
    width: 100%
    .nav-list
      width: 100%
      .main-column
        padding: 15px 0 0 0
        margin-bottom: 0px
  .nav-content
    white-space: nowrap
    height: 500px