.search-wrapper
  width: 100%
  .search-top-wrapper
    width: 100%
    padding-top: 30px
    .search-top
      width: 100%
      position: relative
      .search-top-input
        display: inline-block
        width: 70%
        height: 30px
        line-height: 16px
        border: 1px solid #f04134
        padding: 5px 10px
        border-radius: 21px
        letter-spacing: 1px
        font-size: 16px
        margin-left: 15%
      .search-icon-clear
        position: absolute
        right: 18%
        display: inline-block
        margin-top: 6px
        text-align: center
        height: 30px
        line-height: 30px
        font-size: 30px
        color: #5a5a5a
      .search-top-icon
        position: absolute
        right: 15%
        display: inline-block
        margin-top: 10px
        text-align: center
        height: 25px
        line-height: 25px
        font-size: 25px
        color: #5a5a5a
  .search-hot-and-history
    margin-top: 20px
    position: relative
    width: 100%
    .search-hot
      position: absolute
      left: 0
      top: 0
      width: 45%
      .search-hot-songs
        display: flex
        flex-wrap: wrap
        width: 100%
        .search-hot-songs-item
          margin: 6px 10px
          margin-left: 0
          padding: 5px 10px
          height: 14px
          line-height: 14px
          font-size: 14px
          text-align: center
          border: 1px solid grey
          border-radius: 13px
    .search-history
      position: absolute
      right: 0
      top: 0
      width: 45%
      .search-history-title-wrapper
        position: relative
        width: 100%
        height: 30px
        border-bottom: 1px solid #bfbfbf
        margin-bottom: 10px
        .search-history-title-wrapper-left
          position: absolute
          left: 0
          top: 0
          .search-history-title-wrapper-left-text
            height: 30px
            line-height: 30px
            font-size: 15px
            text-align: center
        .search-history-title-wrapper-right
          position: absolute
          right: 5px
          top: 0
          .search-history-title-wrapper-right-icon
            height: 30px
            line-height: 30px
            font-size: 25px
            color: #5a5a5a
            text-align: center
      .search-history-content
        width: 100%
        .search-history-content-item
          position: relative
          height: 16px
          line-height: 16px
          font-size: 14px
          padding: 10px 0
          color: #404040
          .delete-item
            position: absolute
            display: inline-block
            height: 16px
            line-height: 16px
            font-size: 16px
            width: 16px
            right: 10px
  .search-result-wrapper
    padding-top: 20px
    .search-result
      position: relative
      width: 100%
      height: 383px
      overflow: hidden
          
        
      