.rank-wrapper
  height: 100%
  .rank
    position: relative
    .offical-rank
      position: relative
      width: 100%
      height: 230px
      overflow: hidden
      .offical-rank-scroll
        position: relative
        height: 100%
        overflow: hidden
        float: left
        white-space: nowrap
        .offical-rank-item
          width: 250px
          display: inline-block
          margin: 5px 15px