.rank-item
  position: relative
  width: 250px
  height: 200px
  border-radius: 12px
  box-shadow: 1px 3px 10px #888888
  overflow: hidden
  .rank-item-top
    position: absolute
    width: 100%
    height: 100%
    z-index: 3
    &.top-super-raise
      background: linear-gradient(to top,#add8f7,#7ec2f3,#49a9ee)
    &.top-new-songs
      background: linear-gradient(to top,#76cdd3,#3db8c1,#00a2ae)
    &.top-origin-songs
      background: linear-gradient(to top,#fa90ba,#f7629e,#f5317f)
    &.top-hot-songs
      background: linear-gradient(to top,#f79992,#f46e65,#f04134)
    &.top-denon-songs
      background: linear-gradient(to top,#948aec,#7265e6,#6252cd)
    &.top-billboard-songs
      background: linear-gradient(to top,#7EF3C4,#49EEAB,#10E991)
    &.top-uk-songs
      background: linear-gradient(to top,#7EC7F3,#49B0EE,#1097E9) 
    &.top-itune-songs
      background: linear-gradient(to top,#7EF3F3,#49EEEE,#10E8E9)
    &.top-oricon-songs
      background: linear-gradient(to top,#C17EF3,#A749EE,#8B10E9)
    &.top-hito-songs
      background: linear-gradient(to top,#E87EF3,#DE49EE,#D410E9)
    &.top-melon-songs
      background: linear-gradient(to top,#F37ECA,#EE49B4,#E9109D)
    &.top-gold-songs
      background: linear-gradient(to top,#CDF37E,#B8EE49,#A2E910)
    &:hover
      transition: all 0.5s
      opacity: 0
    .rank-item-top-desc
      display: inline-block
      margin: 60px 0
      height: 80px
      width: 100%
      line-height: 80px
      font-size: 25px
      text-align: center
      letter-spacing: 3px
      color: #f5f5f5
  .rank-item-middle
    position: absolute
    width: 100%
    height: 100%
    z-index: 2
    &:hover
      transition: all 0.5s
      transform: translate(100%,0)
    .rank-item-middle-content
      width: 90%
      height: 100px
      margin-top: 50px
      padding: 0 5%
      .rank-item-middle-content-item
        display: block
        height: 30px
        line-height: 30px
        font-size: 15px
        color: #f5f5f5
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
  .rank-item-bottom
    position: absolute
    width: 100%
    height: 100%
    filter: blur(2px) 
    background-size: 100%
    background-repeat: no-repeat
    z-index: 1