.my-recommend
  display: flex
  justify-content: space-between
  width: 90%
  margin: 20px auto
  .recommend-wrapper
    flex: 1
    position: relative
    &.recommend-wrapper-daily
      border-left: 1px solid #bfbfbf
      border-right: 1px solid #bfbfbf
    .recommend
      display: inline-block
      margin-left: 40px
      width: 50px
      height: 50px
      line-height: 50px
      font-size: 25px
      text-align: center
      border-radius: 25px
      border: 1px solid rgba(240,65,52,0.4)
      .recommend-wrapper-daily-date
        display: inline-block
        height: 50px
        line-height: 50px
        font-size: 20px
        text-align: center
        color: rgba(240,65,52,1)
        margin: 0 13px
    .recommend-text
      display: inline-block
      position: absolute
      left: 100px
      top: 8px
      .recommend-title
        margin-bottom: 8px
        font-size: 14px
        font-weight: 700
      .recommend-desc
        font-size: 12px
        color: #919191
        
      
      