@font-face 
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?mtr432')
  src:  url('../fonts/icomoon.eot?mtr432#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mtr432') format('truetype'),
    url('../fonts/icomoon.woff?mtr432') format('woff'),
    url('../fonts/icomoon.svg?mtr432#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-play:before 
  content: "\e910"
  color: #fff

.icon-loopone:before 
  content: "\e911"
  color: #8a8a8a

.icon-looplist:before 
  content: "\e912"
  color: #8a8a8a

.icon-boost:before 
  content: "\e913"
  color: #fff

.icon-novoice:before 
  content: "\e914"
  color: #8a8a8a

.icon-list:before 
  content: "\e915"
  color: #8a8a8a

.icon-shrink:before 
  content: "\e916"
  color: #fff

.icon-fond:before 
  content: "\e917"
  color: #8a8a8a

.icon-unfond:before 
  content: "\e918"
  color: #8a8a8a

.icon-voice:before 
  content: "\e919"
  color: #8a8a8a

.icon-nextsong:before 
  content: "\e920"
  color: #fff

.icon-presong:before 
  content: "\e91f"
  color: #fff

.icon-pause:before 
  content: "\e922"
  color: #fff

