@font-face 
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?wy20bs')
  src:  url('../fonts/icomoon.eot?wy20bs#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wy20bs') format('truetype'),
    url('../fonts/icomoon.woff?wy20bs') format('woff'),
    url('../fonts/icomoon.svg?wy20bs#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-like:before 
  content: "\e900"
  color: #fff

.icon-like-list:before 
  content: "\e901"
  color: #fff

.icon-like-list1:before 
  content: "\e901"
  color: red

.icon-play:before 
  content: "\ea15"

.icon-pause:before 
  content: "\ea16"

.icon-next:before 
  content: "\ea19"

.icon-loop:before 
  content: "\ea2e"

.icon-infinite:before 
  content: "\ea2f"

